

/*Global styles*/

html{
	box-sizing:border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
	font-family:'Bitter',sans-serif;
	margin:0;	
}

[type="search"]{
	color: green;
}


p{
	line-height:90%px;
}
h1,h2{
	font-family:'Lobster', cursive;
	font-weight:400;

}
h1{
	font-size:80px;
}
h2{
	font-size:40px;
	margin-top:0;
}
h3{
	margin:0;
	font-weight:bold;
}


a{
	color:#EF233C;
}
a:hover{
	text-decoration:none;
}

.uppercase{
	text-transform: uppercase;
}
.btn{
	text-decoration: none;
	background:red;
	color: white;
	padding:10px;
	display:inline-block;
}

p+h3{
	margin-top:30px;
}
.content-wrap{
	max-width:950px;
	margin:0 auto;
	padding: 60px 50px;
	overflow:hidden;
}


a:hover{
	text-decoration:none;
}
a{
	color:lightpink;
}

h3~p{
	margin:0;
}

/*header and footer*/
header{
	padding-top: 50px;
	position:relative;
}
header h1, header h2{
	color:#EDF2F4;
	margin:0;
}
header,footer{
	background:#2B2D42;
	color:#8D99Ae;

}

header, h1, footer{
	color:grey;

}
footer{
	text-align:center;
}

.content-info a{
	background:white;
	padding:10px;
	display: inline-block;

}
.profile{
	
	border-radius:50%;

}
img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s; 

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}
@keyframes shake{
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }

}
.download{
	position:absolute;
	bottom:0;
	right:0;
}


nav{
	text-align: center;
	background:white;
	position:fixed;
	top:0;
	width:100%;

}
nav a{
	display: inline-block;
	padding: 15px 20px;
	text-decoration:none;
	text-transform: uppercase;
	font-weight: :700;
}



/*work experience*/

.work {
  background: #EDF2F4;
}
h3~p{
	margin:0;
}

/*education*/
.Education{
  background: linear-gradient(rgba(141, 153, 174, 0.8),
                 rgba(141,143,174, 0.5)),
                 url(new_york.jpg) no-repeat fixed;
  background-size:cover;

}
.email{
	background:black;
}
/* Media Queries*/
@media (min-width: 900px){
	.col-wide{
	width:70%;
	float:left;
	float:left;
	padding-left:20px;
	min-height:175px;


}
.col-narrow{
	width:30%;
	float:left;
	min-height:175px;

	
}

}
@media (max-width: 899px){
	header{
		text-align:center;
	}
	.profile{
		width:200px;
	}
}
